@font-face {
    font-family: 思源黑体Regular;
    src: url("思源黑体Regular.ttf");
}
* {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: #00000000;
    border: none;
    outline: none;
    font-family: "思源黑体Regular"; 
}
.button1 {
    width: 60px;
    height: 55px;
    line-height: 25px;
    margin: 0px;
    padding-top: 5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffffff;
    color: #000000;
    background-color: #ffffff55;
    box-shadow: #ffffff 0px 0px 3px 0px;
    font-size: 17px;
    text-align: center;
    transition: all 0.25s;
}
.button1:hover {
    background-color: #ffffff;
    box-shadow: #ffffff 0px 0px 5px 0px;
}
.button1:active {
    transform: scale(0.95);
}